.footer {
    height: 7vh;
    border:solid 2px red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 25px;
    pointer-events: none;
  }

  .createBy{
    display: flex;
    flex-direction: row;
    margin: 0px;
  }

  .createBy p{
    margin: 0 auto;
  }

  ul{
    margin: 0px;
  }

  li{
    font-size: 10px;
  }

  li a{
    text-decoration: none;
    color: black;
  }