@import '../../variable.scss';

.footer {
  background-color: $bgcolor;
  display: flex;
  grid-area: footer;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $borderColor;
  margin: 5px;
}

.logo {
  height: 25px;
  pointer-events: none;
}

li {
  display: inline;
}
