@import '../../../variable.scss';

.countrySearch {
  color: $textColor;
}

input {
  width: 100%;
  background-color: $bgcolor;
  color: $textColor;
  height: 20px;
  font-size: 16px;
  border: 1px solid $borderColor;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

img,
h3 {
  display: inline;
  font-size: 12px;
}
.results {
  overflow-y: scroll;
}
.results__hide {
  display: none;
}

.countries {
  padding: 0;
  margin: 0 auto;
}
.countryItem {
  list-style: none;
  background-color: $bgcolor;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.countryItem_flag {
  padding: 5px;
  width: 40px;
}
