$bgcolor: #222222;
$textColor: #bdbdbd;
$borderColor: #5e5e5e;
$colorCase: red;
$colorRecover: rgb(7, 253, 7);
$colorDeath: rgb(253, 253, 253);

// $fontSizeTableText: 10px;
// $fontSizeTableNum: 14px;
