@import "../../variable.scss";
.globalCases {
    grid-area: a;
    border: solid 2px red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cases{
    color: $colorCase;
    font-size: 20px;
    margin-left: 5px;
}