@import '../../variable.scss';

.globalCases {
  grid-area: cases;
  background-color: $bgcolor;
  border: 1px solid $borderColor;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cases {
  color: $colorCase;
  font-size: 20px;
  font-weight: 600;
}
