.countryList {
    grid-area: b;
    border: solid 2px red;
    overflow-y: scroll;
}

.countries {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.countryItem_flag {
    padding: 5px;
    width: 20px;
  }
 
.totalConfirmed{
    padding: 0px 10px;
}  