@import '../../variable.scss';

.countryList {
  grid-area: list;
  background-color: $bgcolor;
  overflow-y: scroll;
  overflow-x: hidden;

  border: 1px solid $borderColor;
  margin: 5px;
}

.countries {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.countryItem_flag {
  padding: 5px;
  width: 20px;
}

.totalConfirmed {
  padding: 0px 10px;
  color: $colorCase;
}

hr {
  color: gray;
  size: 1px;
  margin: 0px;
}
